<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spareio.spynsdk">

    <application
        android:allowBackup="true"
        >
        <provider
            android:name=".SpynContentProvider"
            android:authorities="com.spareio.spynSDK.provider"
            android:exported="true" />
        <activity android:name=".Success"></activity>
        <activity android:name=".StartScreen" />
        <activity android:name=".Interstitial" />
    </application>

</manifest>